### Eclipse ###
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.remote-sync.json
.project
.classpath
.cproject
.settings/
bin/
target/
.tmp/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

### Tomcat ###
tomcat*.log
logs/
temp/
work/
conf/Catalina/
# Ignore Tomcat server configuration files
Servers/Tomcat v10.1 Server at localhost-config/catalina.policy
Servers/Tomcat v10.1 Server at localhost-config/catalina.properties
Servers/Tomcat v10.1 Server at localhost-config/context.xml
Servers/Tomcat v10.1 Server at localhost-config/server.xml
Servers/Tomcat v10.1 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v10.1 Server at localhost-config/web.xml

### OS Specific ###
# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.nfs*

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

### VS Code ###
.vscode/

### IDE Specific ###
# STS
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.iws
